#projectCard {
  position: relative;
  overflow: hidden;
}
#pCardBack {
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  transition: 0.5s;
}
#pCardBack h2 {
  margin: 0;
  font-size: 30px;
}

#projectCard:hover #pCardBack {
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.554);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  cursor: pointer;
}
#pCardFront img{
  width: 100%;
  height: 260px;
  transition: 1s;
  transform: scale(1.2);
}
#projectCard:hover #pCardFront img {
  transition: 1s;
  transform: scale(1.3);
}
