#crowd_rise {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    flex-direction: column;
}

#crowd_background {
    position: relative;
    width: 100%;
}

.crow_bg {
    position: absolute;
    width: 110%;
}

#crow_bg1 {
    top: -318px;
}

#crow_bg2 {
    top: -237px;
}

#crow_bg3 {
    top: -222px;
}

#crow_bg4 {
    top: -323px;
    left: -167px;
    width: 128%;
}

#crow_detail {
    z-index: 20;
    padding: 100px;
    color: white;
    width: 50%;
}

#crow_detail>h1 {
    font-size: 82px;
    font-weight: 900;
    margin: 0;
}

#crow_detail>p {
    font-size: 20px;
    word-spacing: 4px;
    margin-bottom: 150px;
}

#crow_detail>button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 15px 20px;
    font-weight: 900;
}